<div class="container">
  <h1>Add a new Plant Tag to <%= @plant.name %></h1>
  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.input :tag, collection: Tag.all %>
    <%= f.submit "Add tag", class: "btn btn-primary" %>
  <% end %>
</div>
